<div class="columns">
  <form class="column is-3" action="/login" method="post">
    <input class="loginForm input" type="text" name="email" placeholder="Email Address">
    <input class="loginForm input" type="text" name="password" placeholder="Password">
    <button class="loginForm button">Log in</button>
  </form>
</div>
