<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Photography London</title>
  </head>
  <body>
    <ul>
      <li><a href="/login">Log In</a></li>
      <li><a href="/register">Regsiter</a></li>
    </ul>
    <h1>Photography London</h1>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/current-exhibitions">Current Exhibitions</a></li>
      <li><a href="/permanent-display">Permanent Display</a></li>
    </ul>
    <footer>Mady by Sophia Barclay</footer>
  </body>
</html>
