<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Photography London</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
  </head>
  <body>
    <div class="columns is-uppercase">
      <h1 class="hero title column is-9"><a href="/">Photography London</a></h1>
      <p class="column is-1"><a href="/new">Add New</a></p>
      <p class="column is-1"><a href="/login">Log In</a></p>
      <p class="column is-1"><a href="/register">Regsiter</a></p>
    </div>
    <%- body %>
    <footer class="footer has-text-centered">Made by Sophia Barclay</footer>
  </body>
</htm>
