body {
  font-family: 'Roboto', sans-serif;
  color: black;
}

img {
  object-fit: cover;
}

.indexImg:hover {
  opacity: 0.4;
}

/* HEADER */
a {
  color: black;
}

.navbar {
  margin: 10px 40px;
}

.logo {
  letter-spacing: -5px;
  word-spacing: 10px;
  position: absolute;
}

/* FOOTER */
.footer {
  background-color: white;
  padding-bottom: 30px;
}

/* INDEX */
.indexMain {
  margin: 0 0 0 50px;
}

.indexPageInfo {
  margin: 20px 0;
}

i {
  text-align: center;
  vertical-align: middle;
}

i:hover, p a:hover {
  color: #F07840;
}

/* SHOW PAGE */
.ratingSection {
  padding: 0px 20px;
}

.ratingButton form button, .showPageButtons form button {
  border-style: none;
}

.ratingButton form button i {
  font-size: 1rem;
}

.showPage {
  margin: 0 40px;
}

h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.showPageInfo {
  margin: 20px 0;
}

.showPageHeading {
  margin-left: 50px;
}

.showPageButtons i {
  font-size: 2rem;
  margin: 15px 0 0 15px;
}

.loginForm, .button {
  margin: 5px;
}

li {
  list-style-type: none;
}

.reviewSubmitButton {
  margin-left: -10px;
}

/* LOG IN BOX */
.formBox {
  border: solid #F07840 2px;
  border-radius: 25px;
  padding: 30px;
  margin: 50px 0;
}

/* color: #F07840;
color: #6CC7C3;
color: #EE606F;
color: #4EB8C0;

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Heebo', sans-serif; */
