<h1 class="is-size-2">Edit</h1>
<form action="/exhibitions/<%= _id %>?_method=PUT" method="post">
  <div class="field">
    <label class="label">Exhibition</label>
    <div class="control">
      <input class="input" name='name' type="text" value="<%= name %>">
    </div>
  </div>

  <div class="field">
    <label class="label">Gallery/Museum</label>
    <div class="control">
      <input class="input" name='location' type="text" value="<%= location %>">
    </div>
  </div>

  <div class="field">
    <label class="label">Address</label>
    <div class="control">
      <input class="input" name='address' type="text" value="<%= address %>">
    </div>
  </div>

<%#
  <div class="file">
    <label class="label">Image</label>
    <label class="file-label">
      <input class="file-input" type="file" name="resume">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Choose a file…
        </span>
      </span>
    </label>
  </div> %>

  <div class="control">
    <button class="button is-light">Update</button>
  </div>
</form>
